.log-component {
  font-size: 0.9rem;
  ul {
    display: flex;

    li {
      margin: 0 2px;
      border-radius: 30px;
      padding: 8px 15px;
      cursor: pointer;
    }
    li#sign-up {
      background-color: rgb(34, 116, 175);
      color: white;
    }
    li#sign-in {
      color: rgb(89, 86, 86);
    }
  }
}

.profil {
  position: relative;
  padding: 0 10px;
  display: flex;
  align-items: center;

  .user-icon {
    cursor: pointer;
    width: 30px;
    height: 30px;
    border: 1px solid #eee;
    border-radius: 300px;
    display: flex;
    align-items: center;
    justify-content: center;

    img {
      width: 100%;
      height: 100%;
    }
  }
  .cheron-icon {
    cursor: pointer;
  }

  .profil-modal {
    z-index: 200;
    width: 265px;
    border: 1px solid #eee;
    position: absolute;
    top: calc(100% + 10px);
    right: 0;
    background-color: white;
    box-shadow: 2px 0px 5px rgba(0, 0, 0, 0.23);
    border-radius: 15px;
    padding: 10px;
    display: grid;
    gap: 1rem;

    ul {
      display: grid;

      li {
        font-size: 0.8rem;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 5px 0;
      }
      li:nth-child(2) {
        border: 1px solid $blue-1;
      }
    }

    p#start {
      font-size: 1.1rem;
      padding: 10px 0;
      text-align: center;
      color: rgba(0, 0, 0, 0.837);
    }

    p#p-star {
      display: flex;
      justify-content: space-between;
      align-items: center;

      #star {
        color: rgb(255, 136, 0);
        font-size: 1.5rem;
      }
    }
    p {
      font-size: 0.8rem;
      margin: 10px 0;
      color: rgba(0, 0, 0, 0.627);
    }
  }
}

.profil-modal.show {
  visibility: hidden;
  transform: translateZ(0);
}
.profil-modal.hide {
  visibility: visible;
  transform: translateZ(-100px);
}
